<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5c67fc8507.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Deep Connect 4</title>
    <style>
        .border-2 {
            border-width:2px !important;
        }
    </style>
</head>
<body>
    <div class="p-5 container" id="app">
        <div class="row">
            <h1 class="col display-4 my-3">Deep Connect 4</h1>
            <a class="col" href="https://github.com/henryherzfeld/deep_connect_4" target="_blank">
                <i class="fab fa-github fa-lg"></i >
            </a>
        </div>

        <div class="row">
            <div v-for="(col, index) in grid" >
                <button class="btn btn-light" v-on:click="move(index)" :disabled="full[index] == 1 || status=='end'" style="height: 500px">
                <div v-for="cell in col">
                    <p class="p-4 border border-danger rounded-circle border-2" v-if="cell == 1"></p>
                    <p class="p-4 border border-dark rounded-circle border-2" v-else-if="cell == -1"></p>
                    <p class="p-4 border border-primary rounded-circle border-2" v-else></p>
                </div>
                <p class="mt-2 lead">{{pred[index]}}</p>
                </button>
            </div>
            <button type="button" class="float-right mx-5 btn btn-light" v-on:click="reset_board()">Reset</button>
        </div>


        <div v-show="status == 'end'" class="mt-2 alert alert-primary w-75">{{message}}</div>

    </div>



<script src="main.js"></script>
</body>
</html>
